<nav>
  <a href="/">Homepage</a>
  <a href="/auth/sign-in">Sign In</a>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-out">Log Out</a>
  <a href="/routines/new">Create Workout</a>
</nav>
