<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1>All my routines</h1>
    <!-- loop throught the routines -->
    <% for(let routine of routines) {%>
        <a href="/routines/add-exercises/<%= routine._id%>"><%= routine.workoutName %></a>
      <%} %>
  </body>
</html>
