<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1>FitLog Homepage</h1>
    <p>Create and manage your workout routines.</p>

    <% if (user) { %>
      <h2>Welcome <%= user.username %></h2>

      <a href="/routines">My Routines</a>
      <a href="/routines/new">Create Routine</a>
    <% } else { %>
      <a href="/auth/sign-in">Sign In</a>
      <a href="/auth/sign-up">Create Account</a>
    <% } %>
  </body>
</html>
