<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add exercise to the database</h1>
    <form action="./addExercise" method="post">
      <label for="exercisName">Add an exercise:</label>
      <input type="text" id="exercisName" name="exercisName" />
      <br /><br />

      <label for="exerciseGif">GIF url:</label>
      <input type="text" id="exerciseGif" name="exerciseGif" />
      <br /><br />

      <label for="musculeGroup">Select muscle group:</label>
      <select name="musculeGroup" id="musculeGroup">
        <option value="All">Full Body</option>
        <option value="Chest">Chest</option>
        <option value="Back">Back</option>
        <option value="Shoulders">Shoulders</option>
        <option value="Biceps">Biceps</option>
        <option value="Triceps">Triceps</option>
        <option value="Legs">Legs</option>
        <option value="Core (Abs)">Core (Abs)</option>
        <option value="Cardio">Cardio</option>
      </select>
      <br /><br />

      <label for="equipment">Add quipments required:</label>
      <input type="text" id="equipment" name="equipment" />
      <br /><br />

      <label for="instructions">Instructions</label>
      <textarea name="instructions" id="instructions"></textarea>
      <button type="submits">Add</button>
    </form>
  </body>
</html>
